body {
  background-color: gray;
  margin: 0;
}

.video-player,
.video-player2 {
  max-width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0 auto;
}

.video,
.video2 {
  width: 100%;
  object-fit: cover;
}

.player-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
}

.play-button {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: #d6ef0e;
  background-color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}
