body {
  background-color: gray;
}

.video-player,
.video-player2 {
  max-width: 750px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.video,
.video2 {
  width: 100%;
  object-fit: cover;
}

.player-controls {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: 0.3s;
}

.play-button {
  width: 28px;
  height: 28px;
  font-size: 19px;
  color: lime;
  background-color: black;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}
