body {
  background-color: gray;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin: 1rem 0;
}

.video-player,
.video-player2,
.video-player3 {
  max-width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0 auto;
}

.video,
.video2,
.video3 {
  width: 100%;
  object-fit: cover;
}

.player-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
}

.play-button {
  width: 38px;
  height: 38px;
  font-size: 24px;
  color: #d6ef0e;
  background-color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}
